In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("C:/Users/Dell/Downloads/2011 cwc/data.csv")

In [3]:
data.head()

,in,ball,batsmen,bowler,non_striker,runs,extras,total,wicket,kind,player_out,innings,Team,match_no
0,0,0.1,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
1,1,0.2,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
2,2,0.3,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
3,3,0.4,WU Tharanga,Z Khan,TM Dilshan,0,0,0,0,,,1,Sri Lanka,49
4,4,0.5,WU Tharanga,Z Khan,TM Dilshan,0,1,1,0,,,1,Sri Lanka,49